@import '../../utils/styles/colors';
@import '../../utils/styles/sizes';

.taskbar__menu {
    position: absolute;
    top: 0;
    left: 0;
    text-align: left;
    width: 100%;
    height: $taskbarHeight; 
    border-bottom: 2px solid $menu_shadowColor; 
    background-color: $menu_fgColor;
    z-index: 1;
    > * {
        height: 100%;
        display: inline-block;
        vertical-align: top;
        font-size: 18px;
    }
    &--logo {
        width: 60px;
        height: 100%;
        display: inline-block;
        &-icon {
            display: inline-block;
            height: 31px;
            width: 31px;
            cursor: pointer;
            margin: 4px 15px 0 20px;
            border-radius: 50%;
            background: $focus1_light;
        }
    }
    &--actions {
        > button {
            width: auto;
            min-width: 80px;
            height: 100%;
            font-weight: 600;
        }
        &-menu {
            position: absolute;
            width: 275px;
            height: auto;
            top: $taskbarHeight;
            > button {
                width: 100%;
                height: $taskbarHeight;
                text-align: left;
                &:nth-child(1),
                &:nth-last-child(2) {
                    border-bottom: 1px solid $menu_outlineColor;
                }
                // &:nth-child(2) {
                //     height: 35px;
                //     padding-top: 2.5px;
                //     // margin-top: 5px;
                // }
                &:nth-last-child(3) {
                    height: 35px;
                    padding-bottom: 2.5px;
                    // margin-bottom: 5px;
                }
                &:nth-last-child(2) {
                    border-top: 1px solid $menu_outlineColor;
                }
            }
        }
    }
    &--apps {
        width: auto;
        height: 100%;
        background-color: blue;
    }
    &--panel {
        float: right;
        .utility__button {
            height: 100%;
            font-weight: bold;
            &.button__icon {
                font-size: 17px;
                padding: 0 10px;
            }
            &--time {
                float: right;
                padding: 0 15px 0 20px;
            }
            &--weather {
                svg {
                    width: 24px;
                }
            }
        }
        .utility__pane {
            position: fixed;
            border: 1px solid $menu_shadowColor;
            border-bottom: 2px solid $menu_shadowColor;
            border-right: 2px solid $menu_shadowColor; 
            background-color: $menu_fgColor;
            &--weather {
                position: fixed;
                // width: 200px;
                // height: 150px;
            }
        }
    }
}
