.env
node_modules/
node_modules
./node_modules
**/node_modules
**/**/node_modules
**/**/**/node_modules
*/node_modules
*/*/node_modules
*/*/*/node_modules
*.sh
**/*.sh
**/**/*.sh
*.yaml
cmd.txt
.htaccess