.env
node_modules/
node_modules
./node_modules
**/node_modules
**/**/node_modules
**/**/**/node_modules
*/node_modules
*/*/node_modules
*/*/*/node_modules
*.sh
**/*.sh
**/**/*.sh
.htaccess
*.bak
*.bak.*
*.tgz
**/*.tgz
*.yaml
lib/
**/lib
**/lib/
**/**/lib
**/**/lib/
*.zip
dist/
austen.txt
cmd.txt
