.system__dock {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: fit-content;
    height: 60px;
    padding: 0 25px;
    display: inline-block;
    &--spacer {
        width: 40px;
        height: 50px;
        display: inline-block;
        vertical-align: top;
        margin: -2.5px 0;
        border: none;
        &::before {
            content: ' ';
            display: block;
            height: 100%;
            width: 2px;
            background: black;
            margin: 0 auto;
        }
    }
    button {
        position: relative;
        font-size: 50px;
        padding: 0 15px;
        display: inline-block;
        &:hover {
            margin-top: -15px;
        }
        &.active {
            &::after {
                position: absolute;
                bottom: -5px;
                right: 0;
                left: 0;
                margin: 0 auto;
                display: inline-block;
                content: ' ';
                width: 10px;
                height: 10px;
                background-color: blue;
            }
        }
    }
    &--bg {
        width: calc(110% - 50px);
        height: 35px;
        background: rgba(255, 255, 255, 0.5);
        position: absolute;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0 auto;
        z-index: -1;
        &::before, 
        &::after {
            position: absolute;
            content: " ";
            width: 0;
            height: 0;
            display: block;
        }
        &::before {
            left: -35px;
            border-bottom: 35px solid rgba(255, 255, 255, 0.5);
            border-left: 35px solid transparent;
        }
        &::after {
            right: -35px;
            border-bottom: 35px solid rgba(255, 255, 255, 0.5);
            border-right: 35px solid transparent;
        }
    }
}