.system__dock {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    // width: fit-content;
    height: 60px;
    // padding: 0 25px;
    display: inline-block;
    text-align: right;
    z-index: 10;
    // margin-bottom:0;
    transition-duration: 0.05s;
    transition-timing-function: ease-in-out;
    transition-property: width;// margin-bottom, width;
    // &.initial {
    //     margin-bottom: -70px;
    // }
    &--spacer {
        width: 40px;
        height: 50px;
        display: inline-block;
        vertical-align: top;
        margin: -2.5px 0;
        border: none;
        &::before {
            content: ' ';
            display: block;
            height: 100%;
            width: 2px;
            background: black;
            margin: 0 auto;
        }
    }
    .button__icon {
        position: relative;
        // font-size: 50px;
        padding: 0 20px;
        // margin-right: 0;
        margin-top: -7.5px;
        display: inline-block;
        z-index: 2;
        // transition-duration: 0.05s;
        // transition-timing-function: ease-in-out;
        // transition-property: margin-right, opacity;
        &:not(.default) {
            // animation-duration: 0.09s;
            // animation-iteration-count: 1;
            // transition-property: margin-right, opacity;
            left: 0;
            opacity: 1;
            // transition-property: left, opacity;
            // transition-duration: 5s;
            // transition-delay: 0.1s;
            transition-timing-function: ease;
            &.animate-in {
                position: absolute;
                @for $i from 1 through 99 {
                    &:nth-child(#{$i}) {
                        left: calc(#{$i} * 25px);
                    }
                }
                opacity: 0;
            }
            // &.animate-out {
            //     animation-name: slideout;
            // }
            @keyframes fadein {
                from {
                    opacity: 0;
                }
                to {
                    opacity: 1;
                }
            }
            // @keyframes slidein {
            //     from {
            //         margin-right: -10px;
            //         opacity: 0;
            //     }
            //     to {
            //         margin-right: 0;
            //         opacity: 1;
            //     }
            // }
            // @keyframes slideout {
            //     from {
            //         margin-right: 0;
            //         opacity: 1;
            //     }
            //     to {
            //         margin-right: -10px;
            //         opacity: 0;
            //     }
            // }
        }
        // &:hover {
        //     margin-top: -15px;
        // }
        &.initial {
            margin-right: -30px;
            opacity: 0.25;
        }
        &.trash img {
            width: 50px;
        }
        &.about-me {
            padding-right: 15px;
        }
        .button__icon--local {
            width: 55px;
        }
        &.open {
            &::after {
                position: absolute;
                bottom: -12px;
                right: 0;
                left: 0;
                margin: 0 auto;
                display: inline-block;
                content: " ";
                width: 9px;
                height: 8px;
                background-color: black;
            }
        }
    }
    &--bg {
        width: calc(100% + 40px);
        height: 35px;
        background: rgba(255, 255, 255, 0.75);
        position: absolute;
        right: 0;
        left: -20px;
        bottom: 0;
        margin: 0 auto;
        z-index: 1;
        // width: calc(110% - 50px);
        // height: 35px;
        // background: rgba(255, 255, 255, 0.5);
        // position: absolute;
        // right: 0;
        // left: 0;
        // bottom: 0;
        // margin: 0 auto;
        // z-index: -1;
        &::before, 
        &::after {
            position: absolute;
            content: " ";
            width: 0;
            height: 0;
            display: block;
        }
        &::before {
            left: -35px;
            border-bottom: 35px solid rgba(255, 255, 255, 0.75);
            border-left: 35px solid transparent;
        }
        &::after {
            right: -35px;
            border-bottom: 35px solid rgba(255, 255, 255, 0.75);
            border-right: 35px solid transparent;
        }
    }
}