// @import '../utils/styles/colors';
// @import '../utils/styles/fonts';
// @import '../utils/styles/sizes';
@import "myriad-ui/lib/utils/styles/styles.scss";

html {
    font-size: 18px;
    body {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        overflow: hidden;
        // pointer-events: none;
        // #root {
        //     pointer-events: none;
        //     * {
        //         pointer-events: all;
        //     }
        // }
        > * {
            height: 100%;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        main {
            position: relative;
            height: calc(100vh - $taskbarHeight);
            margin-top: $taskbarHeight;
            background: $focus1_light;
            background: linear-gradient(335deg, $focus2_dark 0%, $focus2_light 100%);
            z-index: 0;
            // &.inert {
            //     > .app_window {
    
            //     }
            // }
        }
    }
}