.system__dock {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    height: 60px;
    display: inline-block;
    text-align: center;
    z-index: 10;
    
    transition-duration: 0.05s;
    transition-timing-function: ease-in-out;
    transition-property: width;
    @for $i from 2 through 99 {
        &:has(:nth-child(#{$i})) {
            width: calc((#{$i} - 1) * 100px);
        }
    }
    &--spacer {
        width: 40px;
        height: 50px;
        display: inline-block;
        vertical-align: top;
        margin: -2.5px 0;
        border: none;
        &::before {
            content: ' ';
            display: block;
            height: 100%;
            width: 2px;
            background: black;
            margin: 0 auto;
        }
    }
    &--button {
        position: relative;
        padding: 0 20px;
        margin-top: -15px;
        display: inline-block;
        z-index: 2;
        .icon svg {
            height: auto;
            width: 55px;
        }
        // &:not(.default) {
        //     transition-property: display, position, right, left, margin-right, opacity;
        //     // transition-duration: 0.05s;
        //     // transition-timing-function: ease;
        //     opacity: 1;
        //     right: 0;
        //     animation-timing-function: ease-in-out;
        //     animation-duration: 0.05s;
        //     animation-delay: 0.5s;
        //     animation-name: slidein;
        //     // &.animate-in {
        //         // position: absolute;
        //         // @for $i from 1 through 99 {
        //         //     &:nth-child(#{$i}) {
        //         //         left: calc(#{$i} * 25px);
        //         //     }
        //         // }
        //         // opacity: 0;
        //     // }
        //     animation-play-state: running;
        //     @keyframes slidein {
        //         0% {
        //             // position: absolute;
        //             display: none;
        //             // top: 5px;
        //             // left: 35px;
        //             // left: 0;
        //             // @for $i from 1 through 99 {
        //             //     &:nth-child(#{$i}) {
        //             //         left: calc(#{$i} * 50px);
        //             //     }
        //             // }
        //             opacity: 0;
        //             // right: -25px;
        //         }
        //         99% {
        //             opacity: 1;
        //             // right: 0;
        //             left: 0;
        //             // top: 0;
        //         }
        //         100% {
        //             // position: relative;
        //             display: inline-block;
        //             // opacity: 1;
        //             // margin-right: 0;
        //         }
        //     }
        // }
        // &.initial {
        //     margin-right: -30px;
        //     opacity: 0.25;
        // }
        &.trash svg {
            width: 50px;
        }
        &.about-me {
            padding-right: 15px;
        }
        .button__icon--local {
            width: 55px;
        }
        span.open {
            position: absolute;
            bottom: -7px;
            right: 0;
            left: 0;
            margin: 0 auto;
            display: inline-block;
            width: 9px;
            height: 8px;
            background-color: black;
        }
    }
    &--bg {
        width: calc(100% + 40px);
        height: 35px;
        background: rgba(255, 255, 255, 0.75);
        position: absolute;
        right: 0;
        left: -20px;
        bottom: 0;
        margin: 0 auto;
        z-index: 1;
        &::before, 
        &::after {
            position: absolute;
            content: " ";
            width: 0;
            height: 0;
            display: block;
        }
        &::before {
            left: -35px;
            border-bottom: 35px solid rgba(255, 255, 255, 0.75);
            border-left: 35px solid transparent;
        }
        &::after {
            right: -35px;
            border-bottom: 35px solid rgba(255, 255, 255, 0.75);
            border-right: 35px solid transparent;
        }
    }
}
