@import '../../utils/styles/colors';

.menu__standard {
    border: 1px solid $menu_shadowColor;
    border-right-width: 2px;
    border-bottom-width: 2px;
    background: $menu_fgColor;
    pointer-events: none;
    > button {
        pointer-events: all;
    }
}