@import '../utils/styles/colors';
@import '../utils/styles/fonts';

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    > * {
        height: 100%;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    main {
        height: 100vh;
        z-index: 0;
        background: $focus1_light;
        background: linear-gradient(335deg, $focus2_dark 0%, $focus2_light 100%);
    }
}