// $menu_lightGrey: rgb(221,221,221);
// $menu_lightBeige: rgb(238,238,238);

$frame_activeFgColor: rgb(203,203,203);
$frame_contextFgColor: rgb(221,221,221);
$frame_shadowColor: rgb(19,18,36);

$menu_fgColor: rgb(236,236,236);
$menu_iconColor: rgb(169,169,169);
$menu_outlineColor: rgb(127,127,127);
$menu_borderColor: rgb(16,16,16);
$menu_shadowColor: rgb(0,0,12);

$focus1_light: rgb(131,174,249);
$focus1_dark: rgb(79,127,207);
$focus2_light: rgb(187,188,234);
$focus2_dark: rgb(145,148,225);


