.typography {
    h1, h2, h3, h4, h5, p {
        border-left: none;
        border-right: none;
        margin: 0;
        padding: 25px 0;
        &:first-of-type {
            border-top: 1px solid lightgrey;
        }
        &:last-of-type {
            border-bottom: 1px solid lightgrey;
        }
    }
}