@import '../../utils/styles/colors';
@import '../../utils/styles/sizes';

.app__window {
    position: absolute;
    z-index: 2;
    border: 1px solid $menu_borderColor;
    border-bottom-width: 3px;
    border-right-width: 3px;
    background-color: white;
    resize: both;
    &--menubar {
        width: calc(100% - 10px);
        height: 25px;
        padding: 2.5px 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(19, 18, 36);
        background-color: rgb(203, 203, 203);
        i {
            height: 15px;
            min-width: 15px;
            display: inline-block;
            border: 2px solid $menu_outlineColor;
            background-color: $menu_iconColor;
        }
        > p {
            width: 100%;
            margin-right: -20px;
            font-weight: 600;
            text-align: center;
            pointer-events: none;
        }
        > div {
            display: inherit;
            i:last-child {
                margin-left: 5px;
            }
            i:nth-of-type(2) {
                &::before,
                &::after {
                    content: ' ';
                    width: 100%;
                    height: 2px;
                    margin-top: 2px;
                    display: block;
                    background-color: $menu_outlineColor;
                }
                &::before {
                    margin-top: 7px;
                }
            }
        }
        
    }
    &--content {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: calc(100% - 31px);
        &-article {
            width: 100%;
            height: calc(100% - (20px + $borderSize));
            overflow-y: scroll;
            overflow-x: hidden;
            .loader {
                width: 100%;
                height: auto;
                zoom: 0.4;
                margin-top: 50px;
            }
            &-inner {
                width: 100%;
                height: 100%;
                max-width: unset;
                max-height: unset;
                display: inline-block;
                padding: 0;
                margin: 0;
            };

            /* Scroll track and handle */
            &::-webkit-scrollbar {
                width: 21px;
            }
            &::-webkit-scrollbar-track {
                background-color: $menu_fgColor;
                border-left: 1px solid rgb(16, 16, 16);
            }  
            &::-webkit-scrollbar-thumb {
                border: $borderSize solid $menu_borderColor;
                border-right: none;
                background-color: white;
            }
            /* Buttons */
            // &::-webkit-scrollbar-button:single-button {
            //     background-color: $menu_fgColor;
            //     display: block;
            //     border-style: solid;
            //     height: 16px;
            //     width: 21px;
            // }
            /* Up */
            // &::-webkit-scrollbar-button:single-button:vertical:decrement {
            //     border-width: 0 6px 6px 6px;
            //     border-color: transparent transparent #555555 transparent;
            // }
            // &::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
            //     border-color: transparent transparent #777777 transparent;
            // }
            /* Down */
            // &::-webkit-scrollbar-button:single-button:vertical:increment {
            //     border-width: 6px 6px 0 6px;
            //     border-color: #555555 transparent transparent transparent;
            // }
            // &::-webkit-scrollbar-button:vertical:single-button:increment:hover {
            //     border-color: #777777 transparent transparent transparent;
            // }
        }
    }
    &--resize {
        &-both {
            border: 0px solid $menu_borderColor;
            border-top-width: $borderSize;
            border-left-width: $borderSize;
            bottom: 0 !important;
            right: 0 !important;
            background-color: $menu_fgColor;
        }
    }
}